html {
  /*
        Mes canvis
    */
}
html body div.branca {
  color: blue;
}
html body div {
  display: none;
}
html body .bondia {
  color: red;
}
html body > div {
  min-height: 500vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html body > div header,
html body > div footer {
  position: relative;
  background-color: lime;
  border: 1px solid black;
  padding: 10px;
}
html body > div header #menuHandler,
html body > div footer #menuHandler {
  display: none;
}
html body > div main {
  flex: 1;
  display: flex;
  margin: 0px auto;
  max-width: 900px;
}
html body > div main section {
  padding: 20px;
}
html body > div main #leftc {
  order: 3;
  background-color: orange;
}
html body > div main #contents {
  order: 1;
  background-color: powderblue;
}
html body > div main #rightc {
  order: 2;
  grid-area: center;
  background-color: violet;
}
html body > div nav {
  background-color: #e4e4fc;
}
html body > div nav ul {
  display: flex;
}
html body > div nav ul li {
  flex: 1;
  display: block;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
}
@media screen and (600px <= width <= 900px) {
  #elMasMain main {
    flex-wrap: wrap;
  }
  #elMasMain main #leftc {
    box-sizing: border-box;
    order: 1;
    width: 50%;
  }
  #elMasMain main #contents {
    order: 3;
  }
  #elMasMain main #rightc {
    box-sizing: border-box;
    order: 2;
    width: 50%;
  }
}
@media screen and (width <= 600px) {
  #elMasMain #menuHandler {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: cell;
  }
  #elMasMain #menuHandler:hover {
    color: white;
  }
  #elMasMain main {
    display: flex;
    flex-direction: column   ;
  }
  #elMasMain nav {
    opacity: 1;
    transition: all 3s;
  }
  #elMasMain nav ul {
    display: block;
  }
  #elMasMain nav ul li {
    display: block;
    height: 25px;
    line-height: 25px;
    transition: all 3s;
    overflow: hidden;
  }
  #elMasMain nav.hidden_menu {
    opacity: 0;
    transition: all 3s;
  }
  #elMasMain nav.hidden_menu li {
    height: 0px;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
  }
}
